@CHARSET "UTF-8";



@font-face{
	font-family: coprgt;
	src: url('../Fuentes/COPRGTL.TTF');
}

.logo{
	font-family: forte;
	color: #635297;
	font-size: 50px;
}

.titulo{
	font-family: forte;
	color: #635297;
	font-size: 100px;
	margin: 10px;
}
.texoTitulo{
	font-family: forte;
	color: #635297;
	
}

.textoGeneral{
	color: #635297;
	font-family: forte;
}

.texto{
	color: #BDBCD2;
	
}
.textoGeneral2{

	color: #BDBCD2;
	
}


.barra{
	
	background-color: #635297;
	border-color: #635297;
	background-image: none;
		
}

.botonBarra{
	background-color: #BDBCD2;
	margin-top: 13px;
	margin-left: 25px;
	color: white;
}

.botonBarraMenu{
	background-color: #BDBCD2;
	margin-top: 13px;
	margin-left: 25px;
	margin-bottom: 10px;
	color: white;
}

.bloqueImagen{
	background-color: #eee;
	border-color: #635297;
	
	padding: 5px;
}

.centrar{
	margin-left: 50px;
	
	
}

.input{
	
	width: 48% !important;
}

	

